# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Data files
*.csv
*.txt

# Model files
*.pkl
*.h5
*.pth
*.ckpt

# Virtual environments
venv/
env/
.env

# IDE
.vscode/
.idea/

# Logs
*.log
